<!DOCTYPE html>
<html lang="en">

<title>Student list</title>
<body>   
    <form action="" method="POST">
        {% csrf_token %} 

        <input type="text" placeholder="name" name="name" id="name">
        <br>
        <input type="text" placeholder="roll_number" name="roll_num" id="roll_num">
        <br>
        <input type="city" placeholder="city" id="city" name="city">
        <br>
        <input type="number" placeholder="marks" name="marks" id="marks">
        <br>
        <button type="submit">Add</button>
        <a href="{% url 'home' %}" >List of students</a>
    </form>  
</body>
</html>